.resultsButton {
  margin-top: 8px;
  width: 300px;
  height: 25px;
  background-color: navy;
  color: yellow;
  font-size: 18px;
  margin-bottom: 25px;
}

.photoHeader {
  font-family: "Gill Sans", cursive;
  font-size: 48px;
  color: navy;
}